[Unit]
Description=Snry Shell Daemon
Documentation=https://github.com/sonroyaalmerol/snry-shell
After=graphical-session.target hyprland-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/snry-daemon daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target